[global_config]
  hide_on_lose_focus = True
  inactive_color_offset = 0.7561728395061729
[keybindings]
[profiles]
  [[default]]
    audible_bell = True
    visible_bell = True
    background_color = "#242424"
    background_darkness = 1.0
    cursor_color = "#aaaaaa"
    font = Droid Sans Mono for Powerline Bold 12
    foreground_color = "#ffffff"
    show_titlebar = False
    scrollback_lines = 1000
    palette = "#000000:#f66151:#a2ff7e:#c4a000:#3465a4:#c061cb:#06989a:#d3d7cf:#555753:#f66151:#8ae234:#fce94f:#f66151:#ad7fa8:#a2ff7e:#eeeeec"
    use_system_font = False
    bold_is_bright = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
[plugins]
